                    @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
                    .lista {
                        list-style: none;
                        padding: 0;
                    }
                    
                    .tituloRollingBank {
                        font-family: 'Black Han Sans', sans-serif;
                    }
                    /*MediaQ para el slider*/
                    
                    @media all and (max-width: 576px) {
                        .carousel-sm-responsive {
                            object-fit: cover;
                            height: 187px;
                        }
                    }
                    
                    .jumbotronRolling {
                        font-family: 'Montserrat', sans-serif
                    }
                    
                    .quienesSomos {
                        font-family: 'Montserrat', sans-serif
                    }
                    
                    .imgQuienesSomos {
                        text-align: center;
                    }